@model List<ITCapstoneQuery.Data.User>
@{
    ViewData["Title"] = "Customer History";
}

<h1 style="text-align: center;"> Select a user to view their order history</h1>
<br />
<table class="table">
    <thead>
        <tr>
            <th scope="col">Id</th>
            <th scope="col">First</th>
            <th scope="col">Last</th>
            <th scope="col">Email</th>
        </tr>
    </thead>
    <tbody>
        @foreach(var item in Model) {
                <tr>
                    <th>@item.Id</th>
                    <td>@item.firstName</td>
                    <td>@item.lastName</td>
                    <td>@item.email</td>
                </tr>
        }
    </tbody>
</table>

<h1>Enter the Id of the customer you wish to view</h1>
@using (Html.BeginForm("SeeCustomerHistory", "Home", FormMethod.Post))
{
    <table cellpadding="2" cellspacing="0" border="0">
        <tr>
            <td>Id:</td>
            <td>
                @Html.TextBox("Id")
            </td>
        </tr>
        <tr>
            <td></td>
            <td><input type="submit" value="Submit" /></td>
        </tr>
    </table>
}

